.title_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 824px;
    margin: 80px 25px;  
}

.title_block p {
    font-weight: 500;
    font-size: 20px;
}

.info_block {
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 0;
}

.left_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 21px;
    width: 496px;
    height: 393px;
    
}

.titel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    gap: 50px;
}

.titel h3 {
    font-weight: 600;
    font-size: 28px;
}

.totals_count {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.totals_count h4 {
    font-weight: 500;
    font-size: 24px;
}

.totals_count p {
    font-weight: 600;
    font-size: 32px;
}

.totals_count span {
    font-size: 50px;
    margin-left: 50px;
}

.letest_block {
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 25px;
}

.letest_block input {
    border: 1px solid black;
    border-radius: 15px;
    width: 446px;
    height: 76px; 
    text-align: center;  
}

.letest_block button {
    border: 1px solid #339933;
    background-color: #339933;
    border-radius: 15px;
    width: 446px;
    height: 76px; 
    text-align: center;
    color: white;  
    font-weight: 700;
    font-size: 28px;
}