.section {
    display: flex;
    justify-content: space-between;
    height: 600px;
    background-color:#A1E2EB;
    position: relative;
}

.left_block {
    margin: 130px 25px;  
}

.left_block h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: white;
}

.left_block h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    color: white;
}

.btn_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; 
    gap: 10px;
    position: absolute;
    margin: 379px 25px;
}

.left_btn {
    background-color: white;
    border: 2px solid white;
    border-radius: 13px;
    width: 241px;
    height: 82px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    
}

.right_btn {
    background-color: #A1E2EB;
    color: white;
    border: 2px solid white;
    border-radius: 13px;
    width: 241px;
    height: 82px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.right_block img {
    object-fit: cover;
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 750px;
    height: 679px; 
}