.categories_container h2 {
    margin: 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
    margin: auto;
    width: 1440px;
}