.cart_card {
    display: flex;
    justify-content: start;
    gap: 25px;
    border-bottom: 1px solid #A7A7A7;
    border-top: 1px solid #A7A7A7; 
    width: 824px;
    height: 240px;
    margin: 0 0 0 25px;
    align-items: center;
    position: relative;  
}

.left_block {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.left_block img {
    width: 192px;
    height: 166px;
    object-fit: cover;
    border-radius: 15px;
}

.info_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 166px;
}

.title {
    font-weight: 600;
    font-size: 18px;
}

.card_button {
    border: 1px solid black;
    border-radius: 12px;
    width: 140px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.card_button button {
    border: 1px solid transparent;
    background-color: white;
    font-size: 20px;
}

.rigth_block {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
}

.discont_price {
    font-weight: 600;
    font-size: 40px;
}

.discont_price span {
    font-weight: 300px;
    font-size: 20px;
}

.price {
    font-weight: 500;
    font-size: 20px;
    color: gray;
    text-decoration: line-through;
}

.cross {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
}

.cross:hover {
    color: red;
}